/*default*/
:root {
    /*variables*/
    {variables}

    --rs-font-family-ui: var(--default-font-family);
    --rs-font-family-headers: var(--default-font-family);
    --rs-font-family-mono: var(--default-font-family);

    --wh-color-text-heading: var(--default-color);
    --wh-color-text-main: var(--default-color);
    --wh-color-text-secondary: var(--default-color);
    --wh-color-text-pale: var(--default-color);

    --rs-text-2-font-size: var(--default-font-size);
    --rs-text-2-font-weight: var(--default-font-weight);
    --rs-text-2-line-height: var(--default-line-height);
}
body {
    * {
        font-weight: var(--default-font-weight);
        font-family: var(--default-font-family);
        font-size: var(--default-font-size);
        line-height: var(--default-line-height);
        color: var(--default-color);

        text-align: var(--default-text-align);
        text-transform: var(--default-text-transform);
        text-indent: var(--default-text-indent);

        padding: 0 !important;
    }
}
.article {
    margin-top: var(--default-margin-top);
    margin-bottom: var(--default-margin-bottom);
    margin-left: var(--default-margin-left);
    margin-right: var(--default-margin-right);
    text-align: var(--default-text-align);
}

a {
    text-indent: 0mm !important;
}

.code-block code {
    text-indent: 0mm !important;
}

table .article__p {
    text-indent: 0mm !important;
}

.keystroke {
    text-indent: 0mm !important;
}

svg .article__p {
    text-indent: 0mm !important;
}

/*
img-text: {
    font-size: 11pt;
    text-align: center;
    font-weight: italic bold;
    template: "Рисунок {number} - {caption}"
},
table-text: {
    template: "Таблица {number} - {caption}"
},*/